.vscode
venv
.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
.amlignore
*/.amlignore
*/*/.amlignore
.amlignore.amltmp
*/.amlignore.amltmp
*/*/.amlignore.amltmp
myModels
*/myModels
*/*/myModels
myTemp
*/myTemp
*/*/myTemp
myVis
*/myVis
*/*/myVis
*/*/*draft.ipynb
myData
*/myData
*/*/myData
.idea
*/.idea
*/*/.idea
*.log
#my*
*/my*
*/*/my*
*/*/*/my*
__pycache__
*/desktop.ini
